body {
	position: relative; 
	padding-bottom: 6em;
}

div.form_container {
	padding: 1em;
}

div.form_container > form > input[type='text'] {
	width: 100%;
}

div.footer {
	text-align: center;
	position: absolute; 
	bottom: 0; 
	left:0;
	right:0;
	margin-bottom: -20px;
	padding: 0.5em;
	background-color: var(--background);
}

h1 {
	text-align: center; 
}

div.navigators {
	padding: 2em;
}

div.navigators > button {
	width: 100%; 
	margin-left: auto; 
	margin-right: auto;
}